body {
  font-family: sans-serif;
  margin: 0 50px;
  background-color: #e1e7bd;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  background-color: #fff;
  width: 500px;
  height: 800px;
  border: 4px solid #140b04;
  border-radius: 20px;
  padding: 15px;
  overflow-y: scroll;


}

.app::-webkit-scrollbar {
  width: 0 !important;
}

#addNew {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ebe1de;
  padding: 5px 10px;
  border-radius: 15px;
  border: 2px solid #090909;

  cursor: pointer;
}

.fa-plus {
  background-color: #ebe1de;
  padding: 3px;
  border-radius: 3px;
}

#tasks {
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
}

#tasks div {
  border: 2px solid #090909;
  background-color: #ebe1de;
  border-radius: 6px;
  padding: 5px;
  display: grid;
  gap: 4px;
}

#tasks div .options {
  justify-self: center;
  display: flex;
  gap: 20px;
}

#tasks div .options i {
  cursor: pointer;
}

#msg {
  color: red;
}